<ion-card class="photo-card">
    <ion-header>
      <ion-toolbar>
        <ion-title>American Doyle Log Scale</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-card-content>
        <img src="../../assets/doyle-log-scale.jpg" alt="">
    </ion-card-content>
    
  
    <!-- <ion-img [src]="doyle_scale.jpg"></ion-img>
      <ion-card-content>
      <p>Northern Allegheny Hardwoods LLC</p>
      <p>12345 US Hwy 50</p>
      <p>McMillan, Ohio 12345</p>
      <p>xyz@northern.com</p>
      <p>Tel 888-555-1212</p>
      <p>Tel 888-555-1214</p>
    </ion-card-content> -->
  </ion-card>
  